doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='static/css/bootstrap.min.css')
        script(src='static/js/jquery-3.1.1.min.js')
        script(src='static/js/bootstrap.js')
        title Event Page
    body
        .text-center
            br
            br
            br
            |
            button#startTransaction.btn.btn-primary(type='button', onclick="window.open('/charge','_self');$('#numberOfTransactions').text('Transaction has been made');") Click to make a transaction
            br
            br
            h2
                span#numberOfTransactions 0
                |  people have made a transaction