doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='static/css/bootstrap.min.css')
        script(src='static/js/jquery-3.1.1.min.js')
        script(src='static/js/bootstrap.js')
        title Party Setup
    body
        .text-center(style='width: 100%')
            .text-center(style='width: 25%; margin: 0 auto')
                h1.text-center Event Setup
                br
                form(action='/setup', method="POST", target='_blank')
                    .form-group.row
                        label.col-xs-2.col-form-label() Event Name:
                        .col-xs-10
                            input.form-control(type='text', placeholder='Alpha Beta Chi Frat Party', name='name')
                    .form-group.row
                        label.col-xs-2.col-form-label() Cost
                        .col-xs-10
                            input.form-control(type='number', placeholder='5', name='cost')

                    input.btn.btn-primary(type='submit', value='Submit')
                |

